#DATA_SW[3]
NET "io_a" LOC = P32 | IOSTANDARD="LVCMOS33" | PULLUP;
#DATA_SW[2]
NET "io_b" LOC = P33 | IOSTANDARD="LVCMOS33" | PULLUP;
#DATA_SW[0]
NET "io_cin" LOC = P35 | IOSTANDARD="LVCMOS33" | PULLUP;
#C_LED
NET "io_cout" LOC = P46 | IOSTANDARD="LVCMOS33";
#DATA_LED
NET "io_sum" LOC = P58 | IOSTANDARD="LVCMOS33";
