NET "io_pos[1]" LOC = P59 | IOSTANDARD="LVCMOS33";
NET "io_pos[0]" LOC = P58 | IOSTANDARD="LVCMOS33";

NET "io_in[3]" LOC = P32 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in[2]" LOC = P33 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in[1]" LOC = P34 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in[0]" LOC = P35 | IOSTANDARD="LVCMOS33" | PULLUP;

NET "io_valid[0]" LOC = P83 | IOSTANDARD="LVCMOS33";