NET "io_a" LOC = P34 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_b" LOC = P35 | IOSTANDARD="LVCMOS33" | PULLUP;
#C_LED
NET "io_cout" LOC = P46 | IOSTANDARD="LVCMOS33";
#DATA_LED
NET "io_sum" LOC = P58 | IOSTANDARD="LVCMOS33";