NET "io_in3[7]" LOC = P26 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in3[6]" LOC = P27 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in2[5]" LOC = P29 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in2[4]" LOC = P30 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in1[3]" LOC = P32 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in1[2]" LOC = P33 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in0[1]" LOC = P34 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_in0[0]" LOC = P35 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_sel[1]" LOC = P14 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_sel[0]" LOC = P15 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_out[0]" LOC = P58 | IOSTANDARD="LVCMOS33";
NET "io_out[1]" LOC = P59 | IOSTANDARD="LVCMOS33";
