#BREAK_SW
NET "io_cin" LOC = P14 | IOSTANDARD="LVCMOS33" | PULLUP;
#C_LED
NET "io_cout" LOC = P46 | IOSTANDARD="LVCMOS33";
#ADDR_LED
NET "io_parity" LOC = P83 | IOSTANDARD="LVCMOS33";

#DATA_LED
NET "io_sum[0]" LOC = P58 | IOSTANDARD="LVCMOS33";
NET "io_sum[1]" LOC = P59 | IOSTANDARD="LVCMOS33";
NET "io_sum[2]" LOC = P61 | IOSTANDARD="LVCMOS33";
NET "io_sum[3]" LOC = P62 | IOSTANDARD="LVCMOS33";

NET "io_a[7]" LOC = P26 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_a[6]" LOC = P27 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_a[5]" LOC = P29 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_a[4]" LOC = P30 | IOSTANDARD="LVCMOS33" | PULLUP;

NET "io_b[3]" LOC = P32 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_b[2]" LOC = P33 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_b[1]" LOC = P34 | IOSTANDARD="LVCMOS33" | PULLUP;
NET "io_b[0]" LOC = P35 | IOSTANDARD="LVCMOS33" | PULLUP;